@import url("https://fonts.google.com/specimen/Outfit");

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);

    height: 100vh;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.qr-component {
    border-radius: 20px;

    background-color: white;
    width: 320px;
    height: 497px;
    
    padding: 16px;
    padding-bottom: 40px;

    text-align: center;
}

.qr-component img {
    border-radius: 10px;

    width: 100%;
    height: auto;
}

.qr-component {
    font-family: "Outfit", sans-serif;
}

.text {
    width: 288px;
    height: 129px;

    padding: 0 16px;
    margin: 24px 0 40px 0;
}

.text h1 {
    color: hsl(218, 44%, 22%);

    margin-bottom: 16px;

    font-size: 22px;
    font-weight: 700;
}

.text h2 {
    color: hsl(220, 15%, 55%);

    font-size: 15px;
    font-weight: 400;
}

.attribution { 
    position: absolute;

    font-size: 11px;

    margin-top: 100%;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}