@import url("https://fonts.google.com/specimen/Outfit");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);

    height: 100vh;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.qr-component {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border-radius: 18px;

    background-color: white;
    width: 320px;
    height: 520px;
    
    padding: 20px;
    padding-bottom: 50px;

    text-align: center;

    box-sizing: border-box;
    margin-top: auto;
}

.qr-component img {
    border-radius: 10px;

    width: 100%;
    height: auto;
}

.qr-component {
    font-family: "Outfit", sans-serif;
}

.qr-component h1 {
    color: hsl(218, 44%, 22%);

    font-size: 24px;
    font-weight: 700;
}

.qr-component h2 {
    color: hsl(220, 15%, 55%);

    font-size: 15px;
    font-weight: 400;
}

.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 11px; 
    text-align: center; 
    margin-top: auto;

    height: 50px;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}